<!-- <p>profile works!</p> -->
<!-- <div class="card" style="width: 22rem;">
    <img src="/assets/images/for.svg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div> -->

<div class="card col-12 col-sm-6 col-md-4" style="width: 100%;">
    <img src="/assets/images/for.svg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
