.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .toggle-passwordtwo {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .centerText{
    text-align: center;
  }
  .magic:hover {
    font-weight: bold;
  }
  
  .leftText {
    text-align: end;
  }
  
  .container {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  
  a {
    text-decoration: none;
  }
  
  
  .my-background {
    background-image: url('/assets/images/changepassword.svg');
    /* background-size: contain; */
    background-size: 100% 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    height: 100vh;
  
    @media (max-width: 768px) {
      background: linear-gradient(to bottom, #ff6347, #4169e1);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
  }
  
  
  
  .effect-eye:hover {
    color: blue;
  }