<div class="my-background">
    <div class="container">
        <div class="card" style="width: 19rem;">
            <div class="card-body">
                <h3> It is time to think in new password. Please, write a secure password and do not forget it.
                </h3>
                <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="row g-2">
                    <div class="form-floating col-md-12">
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="new_password"
                            class="form-control" placeholder="Write your password" id="new_password">
                        <span class="toggle-password effect-eye" (click)="togglePassword()">
                            <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                        </span>
                        <label for="new_password">New Password*</label>
                        <div *ngIf="validateInput('new_password')" class="form-text text-danger">
                            <span *ngIf="passwordForm.get('new_password')?.hasError('required')">Password is
                                required.</span>
                            <span *ngIf="passwordForm.get('new_password')?.hasError('minlength')">Password must be at
                                least
                                10
                                characters long.</span>
                        </div>

                    </div>

                    <div class="form-floating col-md-12">
                        <input [type]="showPasswordTwo ? 'text' : 'password'" formControlName="cpassword"
                            class="form-control" placeholder="Write your password again" id="cpassword">
                        <span class="toggle-passwordtwo effect-eye" (click)="togglePasswordTwo()">
                            <i [class]="showPasswordTwo ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                        </span>
                        <label for="cpassword">Confirm Password*</label>
                        <div *ngIf="validateInput('cpassword')" class="form-text text-danger">
                            <span *ngIf="passwordForm.get('cpassword')?.hasError('required')">Password is
                                required.</span>
                            <span *ngIf="passwordForm.get('cpassword')?.hasError('minlength')">Password must be at
                                least
                                10
                                characters long.</span>
                        </div>
                        <div *ngIf="this.passwordForm.get('cpassword')?.dirty && this.passwordForm.hasError('passwordsNotMatching')"
                            class="error-message" class="form-text text-danger">Passwords are not matching.</div>

                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-primary" [disabled]="passwordForm.invalid">
                            <i class="fa-solid fa-bullseye"></i> Update</button>
                    </div>
                    <div class="centerText magic">
                        <br>
                        <a routerLink="/login" [routerLinkActive]="['active']">Abort mission?</a>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>